img {
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
html{
    scroll-behavior: smooth;
}
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    border-radius:5px ;
    padding: 10px 20px;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: lemonchiffon;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin-left: 1.5px;
    padding: 0%;
}
.home-content {
    max-width: 150%;
    text-align: center;
    background-color: silver;
    border-radius: 5px;
    font-style: unset;
}
.events ol {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.event-card {
    width: 400px;
}
#about {
   width: 100%;            /* Forces it to take up the full horizontal space */
  margin: 0;
  padding: 20px 0;
  background-color: silver;
}
        
