img {
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
html{
    scroll-behavior: smooth;
}
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
}
.bookmarks ol{
    display: flex;
    justify-content: center;
    align-items: center;
}